.container {
    padding-bottom: 2em;
    margin-top: 5em;
    text-align: center;
    background-color: rgb(80, 25, 112);
    border-radius: 10px;
    width: 25%;
    box-shadow: -30px 25px 16px 0px rgba(0, 0, 0, .09);
}

h1 {
    color: #fff;
}

h5 {
    color: #fff;
}

.btn {

}